{% extends "base.html" %}
{% block title %}
  Главная страница
{% endblock %}


{% block content %}
    <table class="table table-bordered border-primary">
        <tr>
            <th>Дата</th>
            <th>Проблема</th>
            <th>Место</th>
            <th>Исполнитель</th>
        </tr>
        {% for record in page_obj.object_list  %}
            <tr>
                <td >{{record.date}}</td>
                <td>{{record.problem}}</td>
                <td>{{record.place}}</td>
                <td>{{record.executor}}</td>
                <td><a href="{% url 'journal:edit' record.id %}">Редактировать</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}